.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
  /* border: 3px solid cyan; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

.entryRow {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

ul {
  margin: 0%;
  padding: 0%;
}
